<div>
  <h2>Gestión de Aviones</h2>

  <!-- Formulario para agregar un nuevo Aviones -->
  <form (submit)="crearAvion()">
    <input type="text" [(ngModel)]="nuevoAvion.Modelo" placeholder="Modelo" required name="Modelo">
    <input type="text" [(ngModel)]="nuevoAvion.NumeroRegistro" placeholder="Numero de Registro" required name="NumeroRegistro">
    <input type="text" [(ngModel)]="nuevoAvion.AnioFabricacion" placeholder="Año de Fabricacion" required name="AnioFabricacion">
    <input type="date" [(ngModel)]="nuevoAvion.FchaUltimoMtto" placeholder="Fecha de Ultimo Mantenimiento" required name="FchaUltimoMtto">
    <input type="number" [(ngModel)]="nuevoAvion.CostoHoraVuelo" placeholder="Costo de Hora Vuelo" name="CostoHoraVuelo">
    <button type="submit">Agregar Aviones</button>
  </form>

  <!-- Listado de Aviones -->
  <h3>Lista de Aviones</h3>
  <ul>
    <li *ngFor="let avion of aviones">
      {{ avion.Modelo }} {{ avion.NumeroRegistro }} - ${{ avion.CostoHoraVuelo }}
      <button (click)="seleccionarAvion(avion)">Editar</button>
    </li>
  </ul>

  <!-- Formulario para actualizar Aviones seleccionado -->
  <div *ngIf="avionSeleccionado">
    <h3>Editar Aviones</h3>
    <form (submit)="actualizarAvion()">
      <input type="text" [(ngModel)]="avionSeleccionado.Modelo" placeholder="Modelo" required name="Modelo">
      <input type="text" [(ngModel)]="avionSeleccionado.NumeroRegistro" placeholder="Numero de Registro" required name="NumeroRegistro">
      <input type="text" [(ngModel)]="avionSeleccionado.AnioFabricacion" placeholder="Año de Fabricacion" required name="AnioFabricacion">
      <input type="date" [(ngModel)]="avionSeleccionado.FchaUltimoMtto" placeholder="Fecha de Ultimo Mantenimiento" required name="FchaUltimoMtto">
      <input type="number" [(ngModel)]="avionSeleccionado.CostoHoraVuelo" placeholder="Costo de Hora Vuelo" name="CostoHoraVuelo">
      <button type="submit">Actualizar Aviones</button>
      <button type="button" (click)="confirmarEliminarAvion(avionSeleccionado)">Eliminar</button>
      <button type="button" (click)="cancelarEdicion()">Cancelar</button>
    </form>
  </div>  
</div>
