<div class="container">
  <h2>Planes</h2>
  <div class="tabla">
    <table>
      <thead>
        <tr>
          <th>Nombre del Plan</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of planes">
          <td>{{ plan.Plan }}</td>
          <td>{{ plan.FechaIni | date }}</td>
          <td>{{ plan.FechaFin }}</td>
          <td>
            <button (click)="eliminarPlan(plan.Plan)">Eliminar</button>
            <button (click)="actualizarPlan(plan)">Actualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Agregar Nuevo Plan</h3>
    <form (ngSubmit)="agregarPlan()">
      <label for="nombrePlan">Nombre del Plan:</label>
      <input type="text" id="nombrePlan" [(ngModel)]="nuevoPlan.Plan" name="nombrePlan" required>
      <Br>

      <label for="fechaIniPlan">Fecha de Inicio:</label>
      <input type="date" id="fechaIniPlan" [(ngModel)]="nuevoPlan.FechaIni" name="fechaIniPlan" required>
      <Br>

      <label for="fechaFinPlan">Fecha de Fin:</label>
      <input type="date" id="fechaFinPlan" [(ngModel)]="nuevoPlan.FechaFin" name="fechaFinPlan" required>

      <button type="submit">Agregar Plan</button>
    </form>
  </div>

  <h2>Cursos</h2>
  <div class="tabla">
    <table>
      <thead>
        <tr>
          <th>Nombre del Curso</th>
          <th>Mod. Semanal</th>
          <th>Mod. Sabatino</th>
          <th>Fecha Ini</th>
          <th>Fecha Fin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{ curso.Curso }}</td>
          <td>{{ curso.Semanal }}</td>
          <td>{{ curso.Sabatino }}</td>
          <td>{{ curso.FechaCursoIni| date }}</td>
          <td>{{ curso.FechaCursoFin| date }}</td>
          <td>
            <button (click)="eliminarCurso(curso.Curso)">Eliminar</button>
            <button (click)="actualizarCurso(curso)">Actualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Agregar Nuevo Curso</h3>
    <form (ngSubmit)="agregarCurso()">
      <label for="nombreCurso">Nombre del Curso:</label>
      <input type="text" id="nombreCurso" [(ngModel)]="nuevoCurso.Curso" name="nombreCurso" required>
      <Br>

        <label for="Semanal">Semanal:</label>
        <input type="text" id="Semanal" [(ngModel)]="nuevoCurso.Semanal" name="Semanal" required>
      <Br>
        <label for="Sabatino">Sabatino:</label>
        <input type="text" id="Sabatino" [(ngModel)]="nuevoCurso.Sabatino" name="Sabatino" required>
      <Br>
  
      <label for="fechaIniCurso">Fecha de Inicio:</label>
      <input type="date" id="fechaIniCurso" [(ngModel)]="nuevoCurso.FechaCursoIni" name="fechaIniCurso" required>
      <Br>

      <label for="fechaFinCurso">Fecha de Fin:</label>
      <input type="date" id="fechaFinCurso" [(ngModel)]="nuevoCurso.FechaCursoFin" name="fechaFinCurso" required>

      <button type="submit">Agregar Curso</button>
    </form>
  </div>

  <h2>Materias</h2>
  <div class="tabla">
    <table>
      <thead>
        <tr>
          <th>Materia</th>
          <th>Plan</th>
          <th>Curso</th>
          <th>Maestro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of materias">
          <td>{{ materia.Materia }}</td>
          <td>{{ materia.PlanId  }}</td>
          <td>{{ materia.CursoId }}</td>
          <td>{{ materia.MaestroId }}</td>
          <td>
            <button (click)="eliminarMateria(materia.Materia)">Eliminar</button>
            <button (click)="actualizarMateria(materia)">Actualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Agregar Nueva Materia</h3>
    <form (ngSubmit)="agregarMateria()">
      <label for="Materia">Materia:</label>
      <input type="string" id="Materia" [(ngModel)]="nuevaMateria.Materia" name="Materia" required>
    <Br>
      <label for="Plan">Plan:</label>
      <input type="string" id="Plan" [(ngModel)]="nuevaMateria.Plan" name="Plan" required>
    <br>
      <label for="Curso">Curso:</label>
      <input type="String" id="Curso" [(ngModel)]="nuevaMateria.Curso" name="Curso" required>
    <br>
      <label for="Maestro">Maestro:</label>
      <input type="String" id="Maestro" [(ngModel)]="nuevaMateria.Maestro" name="Maestro" required>

      <button type="submit">Agregar Materia</button>
    </form>
  </div>
</div>
