<button class="menu-toggle" (click)="toggleMenu()">☰</button> 
<div class="container">
  <!-- Menú lateral -->
  <div class="menu" [class.active]="menuActivo">
    <div class="group-header" routerLink="/alumno/inicio" (click)="toggleMenu()">
      <div class="icon"></div>
      <div class="title">Inicio</div>
    </div>
    <div class="group-header" routerLink="/alumno/datos-generales" (click)="toggleMenu()">
      <div class="icon"></div>
      <div class="title">Datos Generales</div>
    </div>
    <div class="group-header" routerLink="/alumno/vuelos" (click)="toggleMenu()">
      <div class="icon"></div>
      <div class="title">Vuelos</div>
    </div>
    <div class="group-header" routerLink="/alumno/calificaciones" (click)="toggleMenu()">
      <div class="icon"></div>
      <div class="title">Calificaciones</div>
    </div>
    <div class="group-header" routerLink="/alumno/pagos" (click)="toggleMenu()">
      <div class="icon"></div>
      <div class="title">Pagos</div>
    </div>
  </div>

  <!-- Contenedor de contenido dinámico -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>