<div>
  <h2>Gestión de Maestros</h2>

  <!-- Formulario para agregar un nuevo maestro -->
  <form (submit)="crearMaestro()">
    <input type="text" [(ngModel)]="nuevoMaestro.Nombres" placeholder="Nombres" required>
    <input type="text" [(ngModel)]="nuevoMaestro.ApellidoP" placeholder="Apellido Paterno" required>
    <input type="text" [(ngModel)]="nuevoMaestro.ApellidoM" placeholder="Apellido Materno" required>
    <input type="email" [(ngModel)]="nuevoMaestro.Email" placeholder="Correo Electrónico">
    <input type="text" [(ngModel)]="nuevoMaestro.Celular" placeholder="Celular" required>
    <input type="text" [(ngModel)]="nuevoMaestro.Direccion" placeholder="Dirección" required>
    <input type="date" [(ngModel)]="nuevoMaestro.FechaNac" required 
    matTooltip="Fecha de nacimiento del maestro" 
    matTooltipPosition="above" > 
    <input type="date" [(ngModel)]="nuevoMaestro.FechaIngreso" 
    matTooltip="Fecha de Ingreso del maestro" 
    matTooltipPosition="above"> 
    <input type="text" [(ngModel)]="nuevoMaestro.TipoLicencia1" placeholder="Tipo de Licencia" required>
    <input type="text" [(ngModel)]="nuevoMaestro.TipoLicencia2" placeholder="Tipo de Licencia">
    <input type="text" [(ngModel)]="nuevoMaestro.TipoLicencia3" placeholder="Tipo de Licencia">
    <input type="text" [(ngModel)]="nuevoMaestro.PermisoInstruccion" placeholder="Permiso de Instrucción" required>
    <input type="date" [(ngModel)]="nuevoMaestro.FechaPermInst" placeholder="Fecha Permiso Instrucción" required 
    matTooltip="Fecha de Permiso de Instrucción maestro" 
    matTooltipPosition="above">
    <button type="submit">Agregar Maestro</button>
  </form>

  <!-- Listado de Maestros -->
  <h3>Lista de Maestros</h3>
  <ul>
    <li *ngFor="let maestro of maestros">
      {{ maestro.Nombres }} {{ maestro.ApellidoP }} {{ maestro.ApellidoM }} - {{ maestro.Email }} | {{ maestro.TipoLicencia1 }} \ {{ maestro.TipoLicencia2 }} \ {{ maestro.TipoLicencia3 }} \ {{maestro.PermisoInstruccion}} \ {{maestro.FechaPermInst}}
      <button (click)="seleccionarMaestro(maestro)">Editar</button>
    </li>
  </ul>

  <!-- Formulario para actualizar maestro seleccionado -->
  <div *ngIf="maestroSeleccionado">
    <h3>Editar Maestro</h3>
    <form (submit)="actualizarMaestro()">
      <input type="text" [(ngModel)]="maestroSeleccionado.Nombres" placeholder="Nombres" required name="nombres">
      <input type="text" [(ngModel)]="maestroSeleccionado.ApellidoP" placeholder="Apellido Paterno" required name="apellidoP">
      <input type="text" [(ngModel)]="maestroSeleccionado.ApellidoM" placeholder="Apellido Materno" required name="apellidoM">
      <input type="email" [(ngModel)]="maestroSeleccionado.Email" placeholder="Correo Electrónico" name="email">
      <input type="text" [(ngModel)]="maestroSeleccionado.Celular" placeholder="Celular" required name="celular">
      <input type="text" [(ngModel)]="maestroSeleccionado.Direccion" placeholder="Dirección" required name="direccion">
      <input type="date" [(ngModel)]="maestroSeleccionado.FechaNac" placeholder="Fecha de Nacimiento" required name="fechaNac">
      <input type="date" [(ngModel)]="maestroSeleccionado.FechaIngreso" placeholder="Fecha de Ingreso" name="fechaIngreso">
      <input type="text" [(ngModel)]="maestroSeleccionado.TipoLicencia1" placeholder="Tipo de Licencia" required name="tipoLicencia1">
      <input type="text" [(ngModel)]="maestroSeleccionado.TipoLicencia2" placeholder="Tipo de Licencia" name="tipoLicencia2">
      <input type="text" [(ngModel)]="maestroSeleccionado.TipoLicencia3" placeholder="Tipo de Licencia" name="tipoLicencia3">
      <input type="text" [(ngModel)]="maestroSeleccionado.PermisoInstruccion" placeholder="Permiso Instrucción" name="PermisoInstruccion">
      <input type="date" [(ngModel)]="maestroSeleccionado.FechaPermInst" placeholder="Fecha Permiso Instrucción" name="FechaPermInst">
      <button type="submit">Actualizar Maestro</button>
      <button type="button" (click)="confirmarEliminarMaestro(maestroSeleccionado)">Eliminar</button>
      <button type="button" (click)="cancelarEdicion()">Cancelar</button>
    </form>
  </div>  
</div>
