<div class="container">
  <h2>Captura de informacion Maestros</h2>

  <form (ngSubmit)="onSubmit()" #adminForm="ngForm">
      <!-- Datos del maestro -->
      <!-- <div class="form-group">
          <label for="userName">Nombre de maestro</label>
          <input type="text" id="userName" class="form-control" [(ngModel)]="maestro.UserName" name="userName" required>
      </div>

      <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" class="form-control" [(ngModel)]="auth.Password" name="password" required>
      </div> -->
      <div class="form-group">
          <label for="nombres">Nombres</label>
          <input type="text" id="nombres" class="form-control" [(ngModel)]="maestro.Nombres" name="nombres" required>
      </div>

      <div class="form-group">
          <label for="apellidoP">Apellido Paterno</label>
          <input type="text" id="apellidoP" class="form-control" [(ngModel)]="maestro.ApellidoP" name="apellidoP" required>
      </div>

      <div class="form-group">
          <label for="apellidoM">Apellido Materno</label>
          <input type="text" id="apellidoM" class="form-control" [(ngModel)]="maestro.ApellidoM" name="apellidoM" required>
      </div>

      <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="maestro.Email" name="email" required>
      </div>

      <div class="form-group">
          <label for="celular">Celular</label>
          <input type="text" id="celular" class="form-control" [(ngModel)]="maestro.Celular" name="celular" required>
      </div>

      <div class="form-group">
          <label for="direccion">Dirección</label>
          <input type="text" id="direccion" class="form-control" [(ngModel)]="maestro.Direccion" name="direccion">
      </div>

      <div class="form-group">
          <label for="fechaNac">Fecha de nacimiento</label>
          <input type="date" id="fechaNac" class="form-control" [(ngModel)]="maestro.FechaNac" name="fechaNac" required>
      </div>

      <div class="form-group">
          <label for="fechaIngreso">Fecha de ingreso</label>
          <input type="date" id="fechaIngreso" class="form-control" [(ngModel)]="maestro.FechaIngreso" name="fechaIngreso" required>
      </div>
      <!-- Licencias -->
      <br>
    <div class="form-group">
        <h3>Agregar Licencias</h3>
      <label for="TipoLicencias">Tipo de Licencia</label>
      <select #TipoLic
              class="form-control"
              name="TipoLicencias"
              multiple
              required>
        <option *ngFor="let lic of tiposLicencia" [value]="lic.TipoLicenciasId">
          {{ lic.TipoLicencia }}
        </option>
      </select>

      <div class="form-group">
        <label for="fechaVencimiento">Fecha de Vencimiento</label>
        <input type="date" #fechaVen class="form-control" name="fechaVencimiento" required>

        <button type="button" class="btn btn-success" (click)="agregarLicencia(TipoLic, fechaVen)">Agregar Licencia</button>
    </div>  
      <br>
    </div>

      <!-- Tabla de Licencias -->
       <div class="table">
        <h3>Licencias Agregadas</h3>
      <table >
        <thead>
          <tr>
            <th>Tipo de Licencia</th>
            <th>Fecha de Vencimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lic of selectedLicencias">
            <td>{{ lic.TipoLicencia }}</td>
            <td>{{ lic.fechaFin }}</td>
          </tr>
        </tbody>
      </table>
       </div>
      

      <button type="submit" class="btn btn-primary" [disabled]="!adminForm.form.valid">Guardar</button>
  </form>
</div>
