<button class="menu-toggle" (click)="toggleMenu()">☰</button> 
<div class="container">
  <!-- Menú lateral -->
  <div class="menu" [class.active]="menuActivo">
    <div class="group-header" routerLink="/admin-3/inicio" (click)="toggleMenu()">
      <div class="icon"></div>
      <div class="title">Inicio</div>
    </div>
    <div class="group-header" routerLink="/admin-3/datos-generales" (click)="toggleMenu()">
      <div class="icon"></div>
      <div class="title">Datos Generales</div>
    </div>
    <div class="group-header" routerLink="/admin-3/horas-vuelo" (click)="toggleMenu()">
      <div class="icon"></div>
      <div class="title">Horas Vuelo</div>
    </div>
  </div>

  <!-- Contenedor de contenido dinámico -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>