<div class="datos-alumno-container">
    <h2>Datos Generales</h2>
    <div class="datos-grid">
      <div class="dato">
        <label>Usuario:</label>
        <span>{{ maestro.usuario }}</span>
      </div>
      <div class="dato nombre-completo">
        <label>Nombre Completo:</label>
        <span>{{ nombreCompleto }}</span>
      </div>
      <div class="dato">
        <label>Correo Principal:</label>
        <span>{{ maestro.correo1 }}</span>
      </div>
      <div class="dato">
        <label>Correo Secundario:</label>
        <span>{{ maestro.correo2 }}</span>
      </div>
      <div class="dato">
        <label>Celular:</label>
        <span>{{ maestro.celular }}</span>
      </div>
      <div class="dato direccion">
        <label>Dirección:</label>
        <span>{{ maestro.direccion }}</span>
      </div>
      <div class="dato">
        <label>Fecha de Nacimiento:</label>
        <span>{{ formatDate(maestro.fechaNacimiento) }}</span>
      </div>
      <div class="dato">
        <label>Fecha de Fin de Permiso de Formación:</label>
        <span>{{ formatDate(maestro.fechaFinPermiso) }}</span>
      </div>
    </div>
  </div>
  
  