<div class="booking-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reserva tu cita</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-stepper [linear]="true" #stepper>
          <!-- Paso 0: Selección de Alumno -->
          <mat-step [stepControl]="matriculaFormGroup">
            <form [formGroup]="matriculaFormGroup">
              <ng-template matStepLabel>Alumno</ng-template>
              <h3>Ingresa la matrícula del alumno</h3>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Matrícula</mat-label>
                <input matInput formControlName="matricula" required
                [ngModel]="hrsVuelo.Matricula"
                >
                <mat-error *ngIf="matriculaFormGroup.controls['matricula'].hasError('required')">
                  Por favor ingresa la matrícula
                </mat-error>
              </mat-form-field>
              <div class="button-row">
                <button mat-button matStepperNext color="primary" [disabled]="matriculaFormGroup.invalid">Siguiente</button>
              </div>
            </form>
          </mat-step>
                    

          <!-- Paso 1: Selección de fecha -->
          <mat-step [stepControl]="dateFormGroup">
            <form [formGroup]="dateFormGroup">
              <ng-template matStepLabel>Fecha</ng-template>
              <h3>Selecciona una fecha</h3>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Fecha de reserva</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" required 
                [ngModel]="hrsVuelo.Fecha"
                > <!--input-->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="dateFormGroup.controls['date'].hasError('required')">
                  Por favor selecciona una fecha
                </mat-error>
              </mat-form-field>
              <div class="button-row">
                <button mat-button matStepperNext color="primary" [disabled]="dateFormGroup.invalid">Siguiente</button>
              </div>
            </form>
          </mat-step>
  
          <!-- Paso 2: Selección de horario -->
          <mat-step [stepControl]="timeFormGroup">
            <form [formGroup]="timeFormGroup">
              <ng-template matStepLabel>Horario</ng-template>
              <h3>Selecciona un horario</h3>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Horario disponible</mat-label>
                <mat-select formControlName="timeSlot" required 
                [ngModel]="hrsVuelo.Hora"  
                > <!--input-->
                        <mat-option *ngFor="let slot of timeSlots" [value]="slot">
                    {{ slot }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="timeFormGroup.controls['timeSlot'].hasError('required')">
                  Por favor selecciona un horario
                </mat-error>
              </mat-form-field>
              <div class="button-row">
                <button mat-button matStepperPrevious>Atrás</button>
                <button mat-button matStepperNext color="primary" [disabled]="timeFormGroup.invalid">Siguiente</button>
              </div>
            </form>
          </mat-step>
  
        <!-- Paso 3: Selección de Avion -->
        <mat-step [stepControl]="planeFormGroup">
          <form [formGroup]="planeFormGroup">
            <ng-template matStepLabel>Avion</ng-template>
            <h3>Selecciona un Avion</h3>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Avion disponible</mat-label>
              <mat-select formControlName="listaAviones" required 
              [ngModel]="hrsVuelo.Avion"  
              >
                <mat-option *ngFor="let slot of listaAviones" [value]="slot">
                  {{ slot.Modelo }}
                  {{ slot.NumeroRegistro }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="planeFormGroup.controls['listaAviones'].hasError('required')">
                Por favor selecciona un Avion
              </mat-error>
            </mat-form-field>
            <div class="button-row">
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button matStepperNext color="primary" [disabled]="planeFormGroup.invalid">Siguiente</button>
            </div>
          </form>
        </mat-step>


      <!-- Paso 3: Confirmación -->
      <mat-step>
        <ng-template matStepLabel>Confirmación</ng-template>
        <h3>Resumen de tu reserva</h3>
        <div class="summary" *ngIf="isFormValid()">
          <p><strong>Matricula:</strong> {{ matriculaFormGroup.value.matricula }}</p>
          <p><strong>Fecha:</strong> {{ formatDate(dateFormGroup.value.date) }}</p>
          <p><strong>Horario:</strong> {{ timeFormGroup.value.timeSlot }}</p>
          <p><strong>Avion:</strong>  {{ planeFormGroup.value.listaAviones.Modelo }}</p>
        </div>
        <div class="button-row">
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!isFormValid()">
            Confirmar reserva
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
</div>