<div class="container">
  <h2>Capturar Pago</h2>

  <form [formGroup]="pagoForm" (ngSubmit)="guardarPago()">
    <div class="form-group">
      <label for="matricula">Matrícula</label>
      <input id="matricula" type="text" formControlName="matricula" placeholder="Ingrese matrícula">
    </div>

    <div class="form-group">
      <label for="fechaPago">Fecha de Pago</label>
      <input id="fechaPago" type="date" formControlName="fechaPago">
    </div>

    <div class="form-group">
      <label for="montoPago">Monto de Pago</label>
      <input id="montoPago" type="number" formControlName="montoPago" placeholder="Ingrese monto">
    </div>

    <div class="form-group">
      <label for="medioPago">Medio de Pago</label>
      <select id="medioPago" formControlName="medioPago">
        <option value="Efectivo">Efectivo</option>
        <option value="Tarjeta">Tarjeta</option>
      </select>
    </div>

    <div class="form-group">
      <label for="tipoPago">Tipo de Pago</label>
      <select id="tipoPago" formControlName="tipoPago">
        <option value="Inscripcion">Inscripción</option>
        <option value="MaterialDidactico">Material Didáctico</option>
        <option value="PermisoFormacion">Permiso de Formación</option>
        <option value="Mensualidad">Mensualidad</option>
        <option value="Horas Vuelo">Horas Vuelo</option>
        <option value="Crédito Horas Vuelo">Crédito Horas Vuelo</option>
        <option value="Simulador">Horas Simulador</option>
        <option value="DoctoTramiteLicencia">Docto Trámite Licencia</option>
        <option value="HorasVueloExFinal">Horas Vuelo Ex. Final</option>
        <option value="OrdenExFinal">Orden Ex. Final</option>
        <option value="ExSinudalTeorico">Examen Sinodal Teórico</option>
        <option value="ExSinudalPractico">Examen Sinodal Práctico</option>
      </select>
    </div>

    <div class="form-group">
      <label for="aviones">Avión</label>
      <select id="aviones" formControlName="avion">
        <option value="" disabled>-- Selecciona un avión --</option>
        <option *ngFor="let avion of listaAviones" [value]="avion.id">
          {{ avion.Modelo }} - {{ avion.NumeroRegistro }}
        </option>
      </select>
    </div>
    

    <div class="form-group">
      <label for="hrsVuelo">Horas Vuelo</label>
      <input id="hrsVuelo" type="number" formControlName="hrsVuelo" placeholder="Ingrese Horas Vuelo">
    </div>

    <button type="submit" [disabled]="pagoForm.invalid">Guardar Pago</button>
  </form>
</div>
