<div class="container">
    <h2>Captura de Alumnos</h2>
  
    <form (ngSubmit)="onSubmit()" #alumnoForm="ngForm">
      <div class="form-group">
        <label for="matricula">Matrícula</label>
        <input type="text" id="matricula" class="form-control" [(ngModel)]="usuario.UserName" name="matricula" required>
      </div>
  
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="auth.Password" name="password" required>
      </div>
  
<br>

      <div class="form-group">
        <label for="nombres">Nombres</label>
        <input type="text" id="nombres" class="form-control" [(ngModel)]="usuario.Nombres" name="nombres" required>
      </div>
  
      <div class="form-group">
        <label for="apellidoP">Apellido Paterno</label>
        <input type="text" id="apellidoP" class="form-control" [(ngModel)]="usuario.ApellidoP" name="apellidoP" required>
      </div>
  
      <div class="form-group">
        <label for="apellidoM">Apellido Materno</label>
        <input type="text" id="apellidoM" class="form-control" [(ngModel)]="usuario.ApellidoM" name="apellidoM" required>
      </div>
  
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="usuario.Email" name="email" required>
      </div>
  
      <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" id="celular" class="form-control" [(ngModel)]="usuario.Celular" name="celular" required>
      </div>
  
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" class="form-control" [(ngModel)]="usuario.Direccion" name="direccion">
      </div>
  
      <div class="form-group">
        <label for="fechaNac">Fecha de nacimiento</label>
        <input type="date" id="fechaNac" class="form-control" [(ngModel)]="usuario.FechaNac" name="fechaNac" required>
      </div>
  
      <div class="form-group">
        <label for="fechaIngreso">Fecha de ingreso</label>
        <input type="date" id="fechaIngreso" class="form-control" [(ngModel)]="usuario.FechaIngreso" name="fechaIngreso" required>
      </div>
      
      <BR>
      <br>
      <div class="form-group">
        <label for="permisoFormacion">Permiso de Formación</label>
        <input type="text" id="permisoFormacion" class="form-control" [(ngModel)]="alumno.PermisoFormacion" name="permisoFormacion" required>
      </div>
  
      <div class="form-group">
        <label for="fechaFinPF">Fecha Fin Formación</label>
        <input type="date" id="fechaFinPF" class="form-control" [(ngModel)]="alumno.FechaFinPF" name="fechaFinPF" required>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!alumnoForm.form.valid">Guardar</button>
    </form>
  </div>
  